## Jie Guo
## Spring 2021 Software Methods for Data Science (ANLT-210-01-37149)
## 3/13/2021

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier 

import pandas as pd
import random as r
import seaborn as sns

In [2]:
df=pd.read_csv('C:\\Users\\Jason Guo\\Tatanic\\Data\\titanic.csv')

In [3]:
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [4]:
df_train, df_test=train_test_split(df,test_size=0.3,random_state=r.randint(1, 100))

In [5]:
df_train.shape

(620, 8)

In [6]:
df_test.shape

(267, 8)

In [7]:
y_train=df_train['Survived']

In [8]:
y_test=df_test['Survived']

In [9]:
features=["Pclass", "Sex","Age",'Siblings/Spouses Aboard','Parents/Children Aboard','Fare']

In [10]:
X_train = pd.get_dummies(df_train[features])
X_test = pd.get_dummies(df_test[features])

In [11]:
'''
mm = MinMaxScaler()
X= pd.DataFrame(mm.fit_transform(X))
X_test=pd.DataFrame(mm.fit_transform(X_test))
'''

'\nmm = MinMaxScaler()\nX= pd.DataFrame(mm.fit_transform(X))\nX_test=pd.DataFrame(mm.fit_transform(X_test))\n'

### Model1: RandomForest

In [12]:
model1 = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model1.fit(X_train, y_train)
predictions1 = model1.predict(X_test)

In [13]:
predictions1

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 1], dtype=int64)

In [14]:
accuracy_score(y_test, predictions1)

0.8764044943820225

### Model 2: Gussian

In [15]:
gnb = GaussianNB()
model2 = gnb.fit(X_train, y_train)
predictions2 = model2.predict(X_test)

In [16]:
accuracy_score(y_test, predictions2)

0.8539325842696629

In [17]:
'''acc = sum(y_test == predictions2)/len(predictions2)
acc'''

'acc = sum(y_test == predictions2)/len(predictions2)\nacc'

### Model 3 KNN

In [18]:
#features=["Pclass","Age",'Siblings/Spouses Aboard','Parents/Children Aboard','Fare']

In [19]:
#X_train = df_train[features]
#X_test = df_test[features]

In [20]:
X_train = pd.DataFrame((X_train - np.mean(X_train)) / np.std(X_train))
X_test= pd.DataFrame((X_test - np.mean(X_train)) / np.std(X_train))

In [21]:
score_list=[]
K=[]
for i in range(len(X_test)):
    #i=0
    knn=KNeighborsClassifier(n_neighbors=i+1)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    K.append(i)
    score_list.append(sum(y_pred == y_test)/len(y_pred))
    c={"K" : K,"Accurancy" : score_list}#将列表a，b转换成字典
    acctable=pd.DataFrame(c)#将字典转换成为数据框
print(acctable)

       K  Accurancy
0      0   0.423221
1      1   0.681648
2      2   0.651685
3      3   0.651685
4      4   0.651685
..   ...        ...
262  262   0.632959
263  263   0.636704
264  264   0.632959
265  265   0.632959
266  266   0.632959

[267 rows x 2 columns]

In [22]:
acc=acctable["Accurancy"].max()
acc

0.7340823970037453

In [23]:

print(acctable["Accurancy"].argmax())

140

In [24]:

ACC_max=acctable.sort_values(by='Accurancy',ascending=False)
ACC_max.head(1)

       K  Accurancy
140  140   0.734082